.footer {
    height: 10vh;
    padding: 10px 30px;
    background-color: #181823;
 
   
    img {
        height: 40px;
    }
    .link-container {
        display: flex;
        background-color: #181823;
        width: 100vw;
        padding-left: 0; 
        // ???????

        a {
            align-items: center;
            color: #8491A0;
            text-decoration: none;
            padding: 30px;
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            display: block;
        }
        a:hover {
            font-weight: 600;
            text-decoration: underline;
            color: rgba(255,255,255,0.8);
        }
    }
}