.footer {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    a {
        align-items: center;
        color: white;
        text-decoration: none;
        margin: 30px 120px 32px 0;
        cursor: pointer;
    }
    a:hover {
        font-weight: 600;
        text-decoration: underline;
        color: rgba(255,255,255,0.8);
    }
}
.darkLinks {
    a {
        color: black;
        &:hover {
            color: rgba(0,0,0,0.8);
            font-weight: bold;
        }
    }
}
.footerDark {
    background-color: white;
    box-shadow: 3px 0px 0px 0 rgba(0,0,0,0.2);
}