.about-me-container {
    color: #333333;
   
    h2 {
        padding-bottom: 15px;
        
    }
    p {
        padding-bottom: 50px;
    }
    a {
        color: #333333;
        display: block;
    }
}