<div id="about-me" class="flex-container">
    <div class="section-container white-container container-padding">
        <h2>About me</h2>

        <p>I am a Front-End developer, based in Munich, trained by a professional software development school in Germany. I built several Front-End projects alone and in groups that you can find here on my Website. </p>

        <a href="javascript:;"
        (click)="scrollToArea('experience')">More about me</a>

    </div>


    <div class="img-container">
        <img src="assets/img/Katja Kirchhofer-2.jpg" alt="">
    </div>
</div>