.about-me-container {
  
   
    h2 {
        padding-bottom: 15px;
        
    }
    p {
        padding-bottom: 50px;
    }
    a {
        color: #333333;
        display: block;
    }
   
}
.img-container img {
    width: 100vw;
    margin-bottom: 0;
}
.img-container {
    width: 100vw;
}
@media(min-width: 500px) {
    .img-container img {
        width: 50vw;
    }
}