<div class="flex-container">
<div class="about-me-container white-container container-padding">
    <h2>About me</h2>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam accusamus quo recusandae corporis adipisci
        facilis, assumenda non porro sit possimus neque voluptatibus numquam ex, fugit placeat enim tempora libero
        saepe.</p>

    <a routerLink="/experience">More about me</a>

</div>
<div class="img-container">
    <img src="assets/img/Katja.jpeg" alt="">
</div>
</div>