<div id="projects" class="white-container container-padding ">
  <h4>my projects</h4>
  <h2>Projects I´ve done</h2>
  <div class="cards-container">
    <div class="container1">
      <div class="card">
        <img class="card-img" src="assets/img/el_pollo.png" alt="">
        <div class="card-content container-padding">
          <h3 class="card-title">Jump and Run - el pollo loco</h3>
          <p class="card-body">createt with javascript.</p>
          <div class="card-footer">
            <a class="card-btn">Play the game!</a>
          </div>
        </div>
      </div>

      <div class="card card-right">
        <img class="card-img" src="assets/img/website_placeholder.jpg" alt="">
        <div class="card-content container-padding">
          <h3 class="card-title">Personal Website</h3>
          <p class="card-body">Created with Angular und SCSS</p>
          <div class="card-footer">
            <a class="card-btn">Visit the page</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container2">
      <div class="card">
        <img class="card-img" src="assets/img/weather_app.jpg" alt="">
        <div class="card-content container-padding">
          <h3 class="card-title">Weather App</h3>
          <p class="card-body">Created with API</p>
          <div class="card-footer">
            <a class="card-btn">Visit the App</a>
          </div>
        </div>
      </div>

      <div class="card card-right">
        <img class="card-img" src="assets/img/card_game.jpg" alt="">
        <div class="card-content container-padding">
          <h2 class="card-title">Card Game</h2>
          <p class="card-body">Created with JavaScipt.</p>
          <div class="card-footer">
            <p class="card-read-time"></p>
            <a class="card-btn">Play the game!</a>
          </div>
        </div>
      </div>
    </div>






    <!-- <div class="project-container">
    <div class="card card1">
      <img class="card-img-top" src="assets/img/el_pollo.png" alt="Card image cap">
      <div class="card-body  white-container">
        <h5 class="card-title">Jump and Run - el pollo loco</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Play the game!</a>
      </div>
    </div>

    <div class="card card2">
      <img class="card-img-top" src="assets/img/website_placeholder.jpg" alt="Card image cap">
      <div class="card-body  white-container">
        <h5 class="card-title">Personal Website</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Visit site</a>
      </div>
    </div>

    <div class="card card3">
      <img class="card-img-top" src="assets/img/weather_app.jpg" alt="Card image cap">
      <div class="card-body  white-container">
        <h5 class="card-title">Weather App</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Visit app</a>
      </div>
    </div>

    <div class="card card4">
      <img class="card-img-top" src="assets/img/card_game.jpg" alt="Card image cap">
      <div class="card-body  white-container">
        <h5 class="card-title">Card Game</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Play the game!</a>
      </div>
    </div>
  </div> -->