<div class="black-container container-padding">
    <h4>my projects</h4>
    <h2>Projects I´ve done</h2>
    
    <div class="card ">
        <img class="card-img-top" src="assets/img/el_pollo.png" alt="Card image cap">
        <div class="card-body  white-container">
          <h5 class="card-title">Jump and Run - el pollo loco</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Play the game!</a>
        </div>
      </div>
</div>


