.card {
    width: 80vw;
    max-width: 500px;
    position: relative;
}

.card-body {
    background-color: white;
    color: black;
    font-family: 'Karla', sans-serif;
    // width: 90vw;
    // max-width: 300px;
    margin-top: 0;
    padding: 3.125rem 1.875rem 3.125rem 1.875rem;
}
.card-img-top {
    width: 100%;
    margin-bottom: -10px;
    // max-width: 300px;
}


