<div class="flex-container">
    <div class="section-container container-padding black-container">
        <h4>work experience</h4>
        <h2>What I´ve done before</h2>

        <p>In the last 10 years I was self employed in the health and sports sector. After reaching my goal of leading a successful yoga studio in Munich and education for yoga teachers I was ready to challenge myself again and decided to follow my passion for coding in 2019. </p>
        <br>
        <p>With my experience of running my own business I have developed a high level of  responsibility, creativity and problem solving. I love to combine this with my development skills and start my new career highly motivated.</p>


    </div>
    <div class="img-container img-handstand">
        <img src="assets/img/yoga.jpeg" alt="">
    </div>
</div>

<!-- <div class="discription-container">
    <h2>About me</h2>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam accusamus quo recusandae corporis adipisci facilis, assumenda non porro sit possimus neque voluptatibus numquam ex, fugit placeat enim tempora libero saepe.</p>

    <a routerLink="/experience">More about me</a>
</div> -->