.intro-container {
    margin: 0;
    background-color: #181823;
}
h1 {
    color: white;
    font-size: 2em;
    font-weight: 600;
    line-height: 2.406rem;
    padding-bottom: 1rem;
}
p {
    padding-bottom: 2rem;
}