.about-me-Container {
    margin: 0;
    background-color: #181823;
}
h1 {
    color: white;
    font-size: 32px;
    font-weight: 600;
    line-height: 38,5px;
    padding: 30px 30px 10px 30px;
}
p {
    padding-bottom: 30px;
}