<div class="intro-background black-container flex-container">
    <div class="img-container" id="intro">
        <img src="/assets/img/1_Katja Kirchhofer-1.jpg" alt="">
    </div>
    <div class="section-container intro-container container-padding ">
        <h1>I´m Katja Kirchhofer. </h1>
        <br>
        <h2>A Junior Frontend developer based in Munich</h2>
    </div>

</div>






<!-- <div class="experience-container">
    <h4>work experience</h4>
    <h2>What I´ve done before</h2>

    <p>experience works!</p>

    
</div> -->