// header {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 10;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0.625rem 1.875rem;
//     background-color: #000000;

//  
  
//     .menu-icon {
//         height: 1.875rem;
//     } 
//     .menu-links {
//         display: none;
//     }
// }
// @media(min-width: 500px) {
//     header {
//         .menu-icon {
//             display: none;
//         }
//         a {
//             align-items: center;
//             color: white;
//             text-decoration: none;
//             margin-left: 32px;
//             cursor: pointer;
//         }
//         a:hover {
//             font-weight: 600;
//             text-decoration: underline;
//             color: rgba(255,255,255,0.8);
//         }
//         .menu-links {
//             display: unset;
//         }
//     }
// }
// @media(min-width: 1200px) {
//     header {
//         padding-left: 200px;
//         padding-right: 200px;
//     }
// }
// @media(min-width: 700px) {
// header {
//     padding-left: 100px;
//     padding-right: 100px;
// }
// }

// .navbar {
//     width: 100%;
//     margin-top: 0;
// }

img {
            height: 2.5rem;
            // filter: invert(1);
        }
        img:hover {
            cursor: pointer;
            height: 2.8125rem;
        }

.grey-link a{
    color: #8491A0!important;
}