header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #000000;

    img {
        height: 40px;
        // filter: invert(1);
    }
    img:hover {
        cursor: pointer;
        height: 45px;
    }
  
    .menu-icon {
        height: 30px;
    } 
    .menu-links {
        display: none;
    }
}
@media(min-width: 500px) {
    header {
        .menu-icon {
            display: none;
        }
        a {
            align-items: center;
            color: white;
            text-decoration: none;
            margin-left: 32px;
            cursor: pointer;
        }
        a:hover {
            font-weight: 600;
            text-decoration: underline;
            color: rgba(255,255,255,0.8);
        }
        .menu-links {
            display: unset;
        }
    }
}

