<div class="card-group">

    <div class="card">
      <img src="assets/img/el_pollo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jump and Run</h5>
        <p class="card-text">El pollo loco. A jump and run game like super Mario but in mexican. Created with JavaScript</p>
      </div>
      <div class="card-footer">
        <button class="btn btn-light"><a class="link-dark" href="https://katja-kirchhofer.developerakademie.com/el_pollo_loco/index.html" target="_blank">Play the game</a></button>
        
      </div>
    </div>


    <div class="card">
      <img src="/assets/img/Dashboard.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Personal Dash Board</h5>
        <p class="card-text">Personal Dash Board with changing Background, weather information and a daily quote.  </p>
      </div>
      <div class="card-footer">
        <button class="btn btn-light"><a class="link-dark" href="https://katja-kirchhofer.developerakademie.com/dashBoard/index.html" target="_blank">View in Brower</a></button>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
