<!-- <div class="card">
    <img class="card-img" src="assets/img/website_placeholder.jpg" alt="">
    <div class="card-content container-padding">
      <h3 class="card-title">Personal Website</h3>
      <p class="card-body">Created with Angular und SCSS</p>
      <div class="card-footer">
        <a class="card-btn">Visit the page</a>
      </div>
    </div>
  </div> -->

  <div class="card-group">
    <div class="card">
      <img src="assets/img/website_placeholder.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Personal Website</h5>
        <p class="card-text">Created with Angular, Bootstrap, Angular Material and SCSS</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/YogaTracker.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Yoga Tracker</h5>
        <p class="card-text">App to track your Yoga Training. Signin, Login and Backend created with firestore. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
