<div class="black-container container-padding">
    <h2>Skillset</h2>
    <div class="skillset-container">
     

        <div class="skill-item">
            <img src="assets/img/angular-logo-B76B1CDE98-seeklogo.com.png" alt="">
            <h3>Angular</h3>
        </div>
        <div class="skill-item"> 
            <img class="skill-icons"
                src="assets/img/javascript-vector-logo-yellow-png-transparent-javascript-vector-12.png" alt="">
            <h3>JavaScript</h3>
        </div>
        <div class="skill-item">
            <img src="assets/img/css-3-logo-AF06D75231-seeklogo.com.png" alt="">
            <h3>HTML/Css</h3>
        </div>
       
    </div>
</div>