<div class="black-container container-padding skillset-container flex-container">
        <div class="intro-skills">
            <h2>Skillset</h2>
            <p class="skills-margin-right">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi sint explicabo quisquam reprehenderit
                sequi
                commodi eveniet at laborum dicta, quod ad amet consectetur vero nostrum inventore perspiciatis, adipisci
                voluptas voluptatem?</p>
        </div>
        <div class="skills-wrap">
            <div class="skills ">
                <div>
                    <h3>HTML/Css</h3>
                    <p>I build responsive Websites with HTML and CSS</p>
                </div>
                <div>
                    <h3>JavaScript</h3>
                    <p>I make websapps interactive with JavaScript</p>
                </div>
            </div>
            <div class="skills">
                <div>
                    <h3>Angular</h3>
                    <p>I take websapps to the next level with Angular</p>
                </div>
                <div>
                    <h3>API´s</h3>
                    <p>I build creative websapps including API´s</p>
                </div>
            </div>
        </div>
</div>